# Sudo required for doing docker build
sudo: required
services:
- docker

# Build the docker image
script:
- ./build/docker-build.sh

# If successful, see if we need to publish also
after_success:
- ./build/travis-publish.sh

# Environment variables needed when publishing
env:
  global:
  # DOCKER_USER
  - secure: "SJ5iDkaauuDhLd+ZB9LfAKOwluC1DvtCTcQjpvINrMqSuDTQDfQ1l7bQvRhzeu9IzyTpK/AlDmlAcxhFNn7hdP55zAwQSvGWk/q5Qm1qzutVMmMj5h3/CyDsLKdL8a9mH72J8b6OA8m/7NJ1LCiNySTr5FuK+ZSYAstn8qVbzJMr80thRMGEFzEe9LULY8R1jt6AijJG1xc7gsa/FfM6bZGCp/yt2lLi2QYIbFASA/lT31SQdcDqcruL+NxCDoJHEEVyZhJC0seWGRD6z9sAt2hW3MoiiRBCFb8zNzKFHKXiizCM0IuTo8Dop+qOIJiECptIQXDm0f4D7TNULzVwpQnvRyX8PgfH0hIscP1x2kKZJX68B8umBapwWBv86UZwLXwK/SVaRvUlyPNcRZsbn9Q4WK3hx1gb3yQ1tVkSsreV8IEaIUZGmbkZHqOxaKL1IplhOtBviHmP6XVd/oKPdbio+TuRfSjbWzeWfVTWHSXMKTUm6ZeyxkISfJMOZT56caTR9JQ7eWM8CrPkc4Wa2Aebhwrie79xLGu+0eSj2fjaeTDf4f36mVQarTstEWVm1eWEG1eYDEYDWKIRdL7iT1PcI/OIkVa3ZgjcOcvCq+fWMNRXWbUBne+AWf+Fo0yv3gLqZwRQ4I+Q1SkrhhrhJ97VAHSDJngThF2wD8LBQbs="
  # DOCKER_PASS
  - secure: "VE/4XbD36rU51JrtDQ+ER/8FWFbliVcY7GldUrHEzs9oBT4uiHQZZPhgv+7kG+jgHN0nmqW00AYzX9+YOFbJ6lldnz9WYpoQ7t5SMqx3d/xwWRp1pP/Wcs/qqt6P3lVIq1ZtqHAzyaph2SLZ3PiqmRYaqZmBzvZvWbHCg6vVyBe6DQt9hwQJJOqw3Fhm2oxP3wZk6xwTeTd04mRQa8EnGIJcFUqmfg0iieszRvGNdbrv5XdTWT7CWuRCm9P36QAhUUG6MF/ehOR7WSV9JM0b5Z3msUEsRAtFMg+5dREe1ZbfoUGiuO5Ppu8XgXnM+61RkDX2WqpQi5F3Vbyjk7nD09ccXUHZG4Hkn0zoE2bCAvqqIr+SQ8IHbqRSKqm/EB/zuwZcvXOUnKG8WekAGzh6te2GuyWRspnIrgXrs0h50PCf1Cbok21zLGlWlSQh2Itsn3fuu/JGNFUgOQWcAxMZagJck6ykYlGa+FvOPoW4XktX3wfXqOs+WtHDX26jm7it2/4toBJbsfJ/a9Qf/slZgZ9O+16/BLpzs7e/HKQuLqZZ9Q9bxxCVH3Wk6TJrPd1oeSfdqXisRk2BVJ0eLmZfzKLuuXdHWk1B+OlGwELPDeGaGdOhV0MIIM6MkW96+CAOULvw6ti9MmJ8/gsVbCI4PkkVSvBpFLs5i0VQmaUO0Rc="
